<h1>Editing convenio</h1>

<%= render "form", administrativo_convenio: @administrativo_convenio %>

<br>

<div>
  <%= link_to "Show this convenio", @administrativo_convenio %> |
  <%= link_to "Back to convenios", administrativo_convenios_path %>
</div>
