<div class="card">
  <div class="card-body">
    <h4 class="card-title">Novo Convênio</h4>
    <p class="card-description"> INFORME TODOS OS DADOS DO CONVÊNIO </p>
    
    <%= render "form", administrativo_convenio: @administrativo_convenio %>
    
    <form class="forms-sample">
      
    </form>
  </div>
</div>